@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
    width: 16px;
}

::-webkit-scrollbar-thumb {
    background: #babac0;
    border-radius: 16px;
    border: 4px solid #f4f4f4;
}

::-webkit-scrollbar-thumb:hover {
    background:#a0a0a5;
    border: 3px solid #f4f4f4;
}

main, .products-list-reveal, .splash-text {
    opacity: 0;
    animation: reveal 1s forwards;

    &.splash-text {
        animation-delay: .25s;
    }
}

@keyframes reveal {
    100% {
        opacity: 1;
    }
}

swiper-slide:not(.swiper-slide-active) a {
    pointer-events: none;
    user-select: none;
}

.information-rich-text h1 {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border-width: 0;
}

.information-rich-text h2 {
    margin-top: 5rem;
    margin-bottom: 0.5rem; 
    font-size: 1.5rem;
    line-height: 2rem; 
    font-weight: 700; 

    @media (min-width: 768px) { 
        margin-bottom: 1rem; 
        font-size: 1.875rem;
        line-height: 2.25rem; 
    }
}

.information-rich-text :nth-child(2) {
    margin-top: 0;
}

.information-rich-text p {
    font-size: 1.125rem;
    line-height: 1.75rem; 
    font-weight: 400; 
    margin-bottom: .5rem;
}